@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 1200px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2D3440;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.pink-theme {
  background-color: #FEAFC3;
}

.button { /*разобраться с паддингами*/
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: white;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 26px;
  border: none;
}

.button-white {
  color: #2D3440;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button-pink {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button-form {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  padding: 8px 52.5px;
  border-radius: 20px;
  border: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-right {
  display: flex;
  align-items: center;
  max-width: 470px;
  margin-left: auto;
}

.logo {
  display: block;
}

.logo-link {
  margin-right: 16px;
  align-self: flex-start; /*не уверена, что это хорошая идея, но показалось, что при увеличении элементов в меню логотипу лучше оставаться на месте*/
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 450px;
}

.navigation-link {
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 16px;
}

.tel {
  font-weight: bold;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user-link {
  display: block;
  padding: 8px; /*с паддингами тут посложнее, доделать на декоративных элементах*/
  min-height: 16px;
  min-width: 16px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: rgba(252, 252, 252, 0.3);
}

.main-container {
  flex-grow: 1;
}

/*Вообще хочется сделать main-index вертикальным флекс-контейнером и задать gap 80px, но в скринкастах просили не использовать пока gap.
Глобальный селектор в таком виде вроде бы тоже нельзя, но наполнение main разное, а отступы одинаковые, кажется глупо задавать отступы по отдельности*/
.main-index > *:not(:last-child) {
  margin-bottom: 80px;
}

.slider-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
}

.slider-list {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.slider-pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.slider-item {
  display: none;
}

.slider-item.next {
  display: block;
}

.slider-item.next .slider-item-text {
  display: none;
}

.slider-item.next .slider-image-block {
  width: 100px;
  height: 150px;
  margin-left: 40px;
  opacity: 40%;
}

.slider-item.next .slider-image {
  width: 100px;
  height: 150px;
}

.slider-item.active {
  display: flex;
  order: -1;
  padding-left: 70px;
}

.slider-item.active .slider-title {
  margin: 116px auto 24px 0;
  width: 470px;
}

.slider-item.active .slider-description {
  margin: 0;
  margin-bottom: 48px;
  width: 430px;
}

.index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gifts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gifts-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;
  width: 434px;
}

.gifts-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  width: 328px;
  margin-bottom: 28px;
}

.gifts-item {
  width: 570px;
  padding: 36px;
  border-radius: 16px;
  background-color: #FF7799;
  display: flex;
  flex-direction: column;
}


.gifts-item-description {
  width: 328px;
  margin: 0;
  margin-bottom: 28px;
}

.gifts-button  {
  align-self: flex-start;
}

.hits-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: -90px; /* это кажется мне очень кривым решением, но ничего лучше не придумала, как обычно делают в таких случаях? к тому же, это бы не сработало, если бы фон контейнера отличался от фона сайта*/
  padding-top: 50px;
}

.hits-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;
  width: 527px;
}

.hits-item {
  background-color: #FCFCFC;
  width: 270px;
  border-radius: 8px;
  margin-bottom: 90px; /* Кажется, чтобы убрать отступ снизу контейнера, nth-child не поможет*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 24px;
}
.hits-item-title {
  margin: 0;
  margin-bottom: 8px;
}

.hits-item-image {
  border-radius: 50%;
  display: block;
}

.hits-show-image {
  order: -1;
  margin-top: -50px;
}

.hits-show {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.hits-item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #565C66;
  margin: 0;
  margin-bottom: 16px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.hits-item-basket {
  min-width: 16px;
  min-height: 16px;
}

.hits-item-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: stretch;
}

.advantages {
  background-color: #FFFFFF;
  padding: 56px 40px 16px; /*тоже борюсь с нижними отступами, не уверена, что верно*/
  border-radius: 16px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
  width: 505px;
  margin-bottom: 40px;
}

.blog {
  width: 570px;
  padding: 32px 36px;
  border-radius: 16px;
  color: inherit;
  background-color: #FFFFFF;
  background-image: url("../images/background-blog.jpg");
  background-repeat: no-repeat;
  background-size: 130% auto;
  background-position: center;
}

.blog-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
  display: block;
  margin: 0;
  margin-bottom: 12px;
  width: 300px;
}

.blog-description {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  display: block;
  width: 300px;
}

.newsletter {
  width: 570px;
  padding: 26px 36px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
  border-radius: 16px;
}

.newsletter p {
  margin: 0;
  margin-bottom: 44px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.field-email {
  width: 332px;
}

.delivery {
  border-radius: 16px;
  background-color: #FCFCFC;
  color: #565C66;
  background-image: url("../images/background-delivery.jpg");
  background-position: center;
  background-size: 105% auto;
  padding: 64px;
  padding-left: 100px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 21px;
  width: 360px;
}

.delivery p {
  margin: 0px;
  width: 370px;
  margin-bottom: 21px;
}

.text-box {
  margin:  auto 0;
}

.delivery-form {
  background-color: #FCFCFC;
  width: 500px;
  border-radius: 8px;
  padding: 40px;
}

.delivery-form p {
  margin: 0;
  margin-bottom: 20px;
}

.form-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #B9B9B9;
}

.contacts {
  border-radius: 16px;
  background-image: url("../images/background-contacts.jpg");
  background-position: center;
  background-size: 100% auto;
  padding: 64px;
}

.contacts-block {
  background-color: #FCFCFC;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
  width: 343px;
  margin-right: auto;
  border-radius: 8px;
  padding: 40px;
}

.contacts-address {
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2D3440;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.page-footer {
  display: flex;
  padding-left: 19px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.social-list {
  width: 104px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-list li {
  min-width: 24px;
  min-height: 24px;
  display: block;
  margin-right: 16px;
  margin-bottom: 16px;
}

.social-list li:nth-child(3n) {
  margin-right: 0;
}

.footer-links {
  width: 356px;
  margin: 0 200px 0 auto;
  column-count: 2;  /* не получается этот перечень ссылок нормально:
  1. На флексах с row-направлением не получается выровнить по чётким столбикам
  2. На флексах с column-направлением выглядит норм, но получается, что список будет наращиваться вбок, а не вниз
  3. В две колонки мне не попалось адекватного способа сделать их разной ширины (в макете первая короче второй)
  4. Собираюсь сделать на гридах, но они ведь появились сравнительно недавно, как раньше такое можно было реализовать? */
  column-gap: 24px;
}

.footer-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 0;
  margin-bottom: 8px;
}

a.footer-link:first-child {
  font-weight: 700;
}

.about {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 193px;
  margin-right: 14px;
}

.htmlacademy-link {
  color: inherit;
}

.inner-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-item {
  margin-top: 32px;
  margin-right: 28px;
}

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item:last-child {
  text-decoration: underline;
}

.filter {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.selector-control {
  background-color: rgba(252, 252, 252, 0.3);
}

.filter-list {
  background-color: rgba(252, 252, 252, 0.3);
}

section.pagination {
  display: flex;
  padding: 41px 0;
  justify-content: flex-end;
}


.pagination-showmore {
   margin-left: auto;
  margin-right: 335px;
}

ul.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 168px;
}

.pagination ul li:last-child {
 margin-left: 8px;
}

.pagination ul li:first-child {
  margin-right: 8px;
}

.pagination-link {
  text-decoration: none;
  color: #2D3440;
  padding: 8px;
}
